{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- timer -->
{{ if $data.register.timer.enable }}
<section class="section">
  <div class="container">
    <div class="position-relative">
      <div class="row align-items-center">
        <div class="col-lg-6">
          {{ with $data.register.timer }}
          <div class="counter-stat">
            <h2 class="mb-4">{{ .title | markdownify }}</h2>
            <p>{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
        {{ with $data.homepage.timer }}
        <div id="simple-timer" class="syotimer" data-year="{{ .year }}" data-month="{{ .month }}" data-day="{{ .day }}"
        data-hour="{{ .hour }}"></div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /timer -->

<!-- register -->
{{ if $data.register.pricing.enable }}
{{ partial "register.html" . }}
{{ end }}
<!-- /register  -->

<!-- event  -->
{{ if $data.register.event.enable }}
{{ partial "event.html" (dict "data" $data "key" "event") }}
{{ end }}
<!-- /event -->

{{ end }}